html {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(150, 158, 78);
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  height: calc(4vh + 15px);
  display: flex;
  justify-content: space-evenly;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content img {
  width: calc(30vh + 300px);
  height: auto;
}

div :not(#content) {
  white-space: pre-line;
  border: 2.5px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;

  background-color: antiquewhite;

  box-shadow: 0 0 20px white;
}

img {
  padding: 0px !important;
  max-width: min(50vw, 50vh);
  height: auto;
}
